.table-player-information h1{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    position: relative;
    top: 6px;
    color: #000000;
    font-weight: lighter;
    letter-spacing: 6px;
    
}